<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
  <title>Alpha Blog</title>
  
  <link rel="stylesheet" href="../assets/stylesheet/css/styles.css">
</head>
<body>
  <div id="container">
    <nav>
      <ul>
         <%= link_to 'Home', root_path %>
         <%= link_to 'About', about_path %>
      </ul>
    </nav>
  </div>
  
  <section id="header_about">
    <div id="banner">
      <h1>About Page</h1>
    </div>
  </section>


</body>
</html>   